body {
    background: linear-gradient(to bottom right, lightblue, rgb(103, 103, 245)) fixed;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Post / Comment Component Styles */

.post-header-icon {
    background-color: gray;
    background-size: cover;
}

.post-attachment-wrapper {
    background-color: lightgray;
}

.post-attachment-wrapper img {
    width: 100%;
}

.post-comments-expander {
    background-color: lightgray;
}

.post-card {
    width: 75%;
    margin: 10px auto;
}

.comment-card {
    width: 90%;
    margin: 10px auto;
}

.post-comments-list {
    max-height: 400px;
    overflow-y: auto;
}

.post-card-action-button-container {
    display: inline-block;
}


.post-card-action-button-icon {
    vertical-align: middle;
}

.post-card-action-button-text {
    vertical-align: middle; 
    padding-left: 3px;
    float:right;
}

.RevashareLogo {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}

.RevashareMiniLogo {
    width: 100%;
    height: 40px;
}

.cardLoadingBar {
    height: 5px !important;
}

.centered-card-host {
    position: relative;
    margin: 0px 15px;
    top: 50%;
    transform: translateY(-50%);
}

.stretched-form-entry {
    width: 100%;
  }

.horizontal-stack {
    display: flex;
}

/* End of Post / Comment Component Styles */
