<mat-toolbar id="App-MainToolbar" class="app-toolbar">
    <a  href="javascript:void(0);" (click)="goHome()">
        <img alt="Revashare" class="RevashareMiniLogo" src="https://firebasestorage.googleapis.com/v0/b/project2-85159.appspot.com/o/assets%2FRevashare.png?alt=media&token=5711f8fa-ab58-46b0-9d16-489288cb0ef0">
    </a>
    <span class="app-toolbar-spacer"></span>

    <button *ngIf="isNotificationsPage" mat-button (click)="clearNotifications()">
        MARK ALL AS READ
    </button>

    <button mat-icon-button (click)="showSearchBar=!showSearchBar">
        <mat-icon>search</mat-icon>
    </button>

    <button *ngIf="!isNotificationsPage" mat-icon-button (click)="openNotifications()">
        <mat-icon [matBadge]="notificationCount" matBadgeColor="warn">notifications</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="settings()">
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <span>Log Off</span>
        </button>
    </mat-menu>
    
</mat-toolbar>
<mat-toolbar class="app-toolbar" *ngIf="showSearchBar" color="primary">
    <button mat-icon-button (click)="search()">
        <mat-icon>search</mat-icon>
    </button> 
    <div class="app-search-container">
        <mat-form-field class="app-search-field" appearance="fill">
            <input #SearchBox matInput id="App-SearchInput" type="search" />
        </mat-form-field>
    </div> 
    <button id="App-CloseSearch" mat-icon-button (click)="showSearchBar=!showSearchBar">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<button mat-fab class="post-button" (click)="createPost()"><mat-icon>add_post</mat-icon></button>
<div class="app-container">
    <div class="app-container-button-container" *ngIf="showBackwards">
        <button mat-stroked-button class="app-container-button" (click)="goBackwards()">Previous...</button>
    </div>
    <mat-spinner class="feed-spinner" *ngIf="isPostsWaiting"></mat-spinner>
    <app-social-profile mat-list-item *ngIf="user != null && pagination_offset == 0" [userData]="user"></app-social-profile>
    <app-social-post mat-list-item *ngFor="let post of posts" [postData]="post"></app-social-post>
    <div class="app-container-button-container" *ngIf="showForwards">
        <button mat-stroked-button class="app-container-button" (click)="goForwards()">Next...</button>
    </div>
</div>

